      /* Add some basic styling for better presentation */
    
    a {
        text-decoration: none;

    }

    .MainMenu {
        background-color: #1E1E1E;
        color: #fff;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin:0px;
        height:36px
    }

    .MainMenu a {
        padding:10px;
        color: #dedede;
        margin: 0 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        transition: all .25s ease;
        white-space: nowrap;
    }

    .MainMenu a.selected {
        background-color: #373737;
        color:  white;
        font-weight: bold;
    }


    .MainMenu a:hover {
        background-color: #373737;
        color: #fff;
    }

    /* Add right margin for last link */
    .MainMenu a:last-child {
        margin-right: 270px;
        margin-left: auto;
    }         


    /* Add left margi for first link, but remive for small widths */
    @media  (min-width: 1000px)  {
    a:first-child {
        margin-left: auto;
        margin-left: 270px;
    }     


    .SubMenu {
        margin: 0px;
        font-size: smaller;
        height:30px;
        background-color: #373737;
        color: #fff;
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: left;
    }

    .SubMenu a {
        color:#66BBF7;
        padding:10px;
    }

    .SubMenu a.selected {
        color:white;
        padding:10px;
    }   

    .SubMenu a:hover {
        color:white;
        padding:10px;
        text-decoration: underline;
    }
     


    body {
        font-family: Arial, sans-serif;
        text-align: center;
        vertical-align: top;
        margin: 0px;
        background-color: #1E1E1E;
        color:white
    }

    .banner {
        position:relative;
        left:-5px;
        top:-1px;
        display: flex;
        height:150px;
        flex-direction: column;
        color: yellow; 
        height:214px;
        background-image: url("https://buddlepit.co.uk/community/data/assets/logo/BPLogo1.png");
        background-size: 43.1%;
        background-repeat: no-repeat;
        background-position: center;

    }            
    button {
        width: 100px;
        height: 30px;
        background-color: #185886;
        border-radius: 4px;
        color: White;
        border-width: 0;
        transition: all .125s ease;
    }
    button:hover {
        background-color: #1e6fa9;
    }