      /* Add some basic styling for better presentation */
    
    a {
        text-decoration: none;

    }

    .MainMenu {
        background-color: #1E1E2E;
        color: #fff;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin:0px;
        height:36px
    }

    .MainMenu a {
        padding:10px;
        color: #dedede;
        margin: 0 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        transition: all .25s ease;
        white-space: nowrap;
    }

    .MainMenu a.selected {
        background-color: #373747;
        color:  white;
        font-weight: bold;
    }


    .MainMenu a:hover {
        background-color: #373747;
        color: #fff;
    }

    /* Add right margin for last link */
    .MainMenu a:last-child {
        margin-right: 270px;
        margin-left: auto;
    }         


    /* Add left margi for first link, but remive for small widths */
    @media  (min-width: 1000px)  {
        a:first-child {
            margin-left: auto;
            margin-left: 270px;
        }     
    }


    .SubMenu {
        margin: 0px;
        font-size: smaller;
        height:30px;
        background-color: #373747;
        color: #fff;
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: left;
        transition: all .25s ease;
    }

    .SubMenu a {
        color:#66BBF7;
        padding:10px;
    }

    .SubMenu a.selected {
        color:white;
        padding:10px;
    }   

    .SubMenu a:hover {
        color:white;
        padding:10px;
        text-decoration: underline;
    }
     


    body {
        font-family: Arial, sans-serif;
        text-align: center;
        vertical-align: top;
        margin: 0px;
        background-color: #1E1E2E;
        color:white
    }

    .banner {
        position:relative;
        left:-6px;
        top:-1px;
        display: flex;
        height:150px;
        flex-direction: column;
        color: yellow; 
        height:214px;
        background-image: url("https://buddlepit.co.uk/community/data/assets/logo/BPLogo1.png");
        background-size: auto 200px;
        background-repeat: no-repeat;
        background-position: center;

    }            
    button {
        width: 100px;
        height: 30px;
        background-color: #185886;
        border-radius: 4px;
        color: White;
        border-width: 0;
        transition: all .125s ease;
    }
    button:hover {
        background-color: #1e6fa9;
        cursor: pointer;
    }


    .container {
        display: inline-block; /* Display as block element */
        text-align: left; /* Reset text alignment to left */
        width: 1024px; /* Set width of the container */
    }
    .centered-div {
        width: 100%; /* Take up full width of the container */
        max-width: 800px; /* Limit width to 800px */
        margin: 0 auto; /* Center align horizontally */
        
    }
    .centered-div-wide {
        width: 100%; /* Take up full width of the container */
        max-width: 1024; /* Limit width to 800px */
        margin: 0 auto; /* Center align horizontally */
        
    }
    .search-form {
        margin-bottom: 20px; /* Add some space between forms */
        text-align: center; /* Center align the form */
    }
    .search-form label {
        display: inline-block; /* Make labels appear on the same line */
        width: 120px; /* Set width for labels */
        text-align: right; /* Right align labels */
        margin-right: 20px; /* Add some space between label and input */
    }
    .search-form .input-group {
        display: inline-block;
        margin-bottom: 10px;
    }
    .search-form input, .search-form select {
        width: 200px; /* Set width for input fields and select dropdown */
    }
    .search-form .input-group:nth-child(odd) {
        margin-right: 20px; /* Add space between input fields in the first column */
    }
    .search-form .input-group:nth-child(even) {
        margin-left: 20px; /* Add space between input fields in the second column */
    }
    .search-form .button-group {
        display: block;
        margin-top: 10px;
    }
    .search-form button {
        width: auto; /* Let button adjust to its content */
    }
    .horizontal-line {
        width: 100%; /* Set width to 100% */
        height: 1px; /* Set height to 1px */
        background-color: #ccc; /* Set background color */
        position: relative;
        top:-8px;
        margin: 0px 0px 0px 0px; /* Add margin for spacing */
    }
    .searchresults {
        text-align: center;
        margin:  auto;
        width: 100%;
        max-width: 1300px
    }

    table {
        width: auto;
        border-collapse: collapse;
    }

    th, td {
        font-weight: normal;
        text-align: left;
        vertical-align: top;
        padding: 10px;
        border: .2px solid #0f0a14;
        font-size: 13px;
    }

    
    .letterSearch {
        color: #66BBF7
    }

    .letterSearch:hover {
        text-decoration: underline;
        cursor: pointer;
        color:white
    }

    #spinner-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999; /* Ensure spinner is above other content */
      }
      
      #spinner {
        /* Your spinner styles */
        display: none;
        border-color:blue;
        border-width: 3px;
        border-style: solid;
        background-color:orange;
        color: black;
        padding: 20px;
        border-radius: 5px;
      }
      thead tr {
        background-color: #0f0f16
      }

      tbody tr:nth-child(odd) {
        background-color: #1f1f35;
      }
      tbody tr:nth-child(even) {
        background-color: #1a1a30;
      }
      tbody tr:hover {
        background-color: #185886; /* hover color */
        cursor: pointer;
      }
